<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Manager of the week</title>
  </head>
  <body>
    <h1>TOP 10 Manager of the week</h1>
    <table>
      <thead>
        <tr>
          <td>Team Name</td>
          <td>Point</td>
        </tr>
      </thead>

      <tbody id="table">
        <tr>
          <td><span id="loading">Loading...</span></td>
        </tr>
      </tbody>
    </table>

    <script src="/static/index.js?v=2"></script>
  </body>
</html>
